# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [86]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [87]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [88]:
print(chipo.head().to_string())

# Remove the '$' sign and create a new column 
chipo['item_price_new'] = [float(value[1:-1]) for value in chipo.item_price]

# Create "price_per_item"
chipo['price_per_item'] = chipo['item_price_new'] / chipo['quantity']

print(chipo.query('price_per_item > 10.0').item_name.nunique())
# print(chipo[chipo['price_per_item'] > 10.0].item_name.unique().shape[0])

# print(chipo.head().to_string())

   order_id  quantity                              item_name                                                          choice_description item_price
0         1         1           Chips and Fresh Tomato Salsa                                                                         NaN     $2.39
1         1         1                                   Izze                                                                [Clementine]     $3.39
2         1         1                       Nantucket Nectar                                                                     [Apple]     $3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa                                                                         NaN     $2.39
4         2         2                           Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]    $16.98
25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [89]:
chipo[['item_name', 'price_per_item']].drop_duplicates().sort_values('price_per_item')

                item_name  price_per_item
18            Canned Soda            1.09
34          Bottled Water            1.09
263     Canned Soft Drink            1.25
329         Bottled Water            1.50
6           Side of Chips            1.69
...                   ...             ...
93       Carnitas Burrito           11.75
1963  Carnitas Soft Tacos           11.75
281      Steak Salad Bowl           11.89
1229  Barbacoa Salad Bowl           11.89
1132  Carnitas Salad Bowl           11.89

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [90]:
chipo[['item_name', 'price_per_item']].drop_duplicates().sort_values('item_name')

              item_name  price_per_item
298   6 Pack Soft Drink            6.49
4510      Barbacoa Bowl           11.49
471       Barbacoa Bowl           11.48
115       Barbacoa Bowl            8.99
39        Barbacoa Bowl           11.75
...                 ...             ...
186   Veggie Salad Bowl           11.25
960   Veggie Salad Bowl            8.75
1395  Veggie Soft Tacos            8.49
738   Veggie Soft Tacos           11.25
781   Veggie Soft Tacos            8.75

[139 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [95]:
# Find the most expensive item
chipo.sort_values(by = "item_price_new", ascending = False).iloc[0, 1]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [106]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [108]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].shape[0]

20